/* Global Styles */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: blueviolet;
  --primary-hover: darkviolet;
  --background-light: rgba(255, 255, 255, 0.2);
  --border-light: rgba(255, 255, 255, 0.4);
  --text-light: #CCC;
  --input-bg: #f9f9f9;
  --input-border: #ddd;
  --link-color: #2e70f2;
  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

/* Layout and Background */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../assets/login-page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Form Container Styles */
.form-box {
  align-items: center;
  text-align: center;

  max-width: 420px;
  width: 100%;
  min-height: 400px;
  max-height: 900px;
  margin: 5px;
  padding: 48px 48px;

  background-color: var(--background-light);
  border: 1.5px solid var(--border-light);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  box-shadow: var(--box-shadow);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

/* Image / Logo */
.form-icon {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 4px auto;
  opacity: 0.9;
}

/* Headings */
.form-box h2 {
  margin-bottom: 4px;
  font-size: 28px;
  font-weight: 800;
}

.form-box p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--text-light);
}

.form-header {
  margin: 0;
  padding: 0;
}

.form-header h2 {
  margin-top: 8px;
  margin-bottom: 2px;
}

.form-header p {
  margin-top: 0;
  margin-bottom: 8px;
}

inputs-div {
  gap: 15px;
}

input {
  width: 90%;
  padding: 12px;
  font-size: 14px;
  margin-bottom: 15px;
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

button {
  width: 100%;
  padding: 12px;

  font-size: 14px;
  font-weight: bold;
  text-transform: lowercase;

  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: var(--primary-hover);
}

.btn-link {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  color: var(--link-color);
  font-weight: 600;
  text-align: inherit;
  width: 50px;
}

.btn-link:hover {
  background: none;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text-light);
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--text-light);
  margin: 0 10px;
}

.password-field {
  position: relative;
  width: 100%;
}

#caps-lock-warning {
  position: absolute;
  right: 0px;
  bottom: 50%;
  transform: translateY(50%);
  width: 30px;
  height: 30px;
  display: none;
  pointer-events: none;
}

.error-msg {
color: red;
right: 110px;
}

.input-label-password{
  position: relative;
  right: 110px;
}

.input-label-email{
  position: relative;
  right: 125px;
}